.header {
  background-color: $white;
  color: $black;
  border-bottom: 1px solid $orange;
  &__container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: $black;
    font-size: 34px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__contacts {
    display: flex;
    align-items: center;
    @media (max-width: $tablet) {
      // padding-right: 50px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 5px;
    // margin-right: 25px;
    &:hover {
      .header__number {
        color: $orange;
      }
      .header__icon {
        svg {
          path {
            fill: $orange;
          }
        }
      }
    }
  }

  &__icon {
  }

  &__number {
    color: $black;
    @media (max-width: $mob) {
      display: none;
    }
  }

  &__button {
  }
  &__location {
    display: flex;
    align-items: center;
    p {
      color: $black;
    }
    transition: all 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
